<h2>New Customer form</h2>
<form #customerForm="ngForm" (ngSubmit)="createCustomer(customerForm)">

  <label for="name">Name</label>
  <input type="text" name="name" ngModel required minlength="5" #name="ngModel" [(ngModel)]="newCustomer.name" />
  <small *ngIf="name.invalid">Name must be more than 5 characters</small>

  <label for="customerType">Type</label>
  <select name="customerType" required #customerType="ngModel" [(ngModel)]="newCustomer.type">
    <option *ngFor="let type of types">{{type}}</option>
  </select>
  <small *ngIf="customerType.invalid">Please select Type</small>

  <button type="submit" [disabled]="customerForm.invalid">Add Customer</button>
</form>

<h2>Customers list</h2>
<table spacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.name}}</td>
      <td>{{customer.type}}</td>
      <td>
        <a [routerLink]="['/customer', customer.customerId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>
